/venv_sbi4abm/
*.pkl
samples.txt
/results/*/
/results_test/*/
/sbi4abm/*/__pycache__/
/sbi4abm/*/*/__pycache__/
/sbi4abm/*/*/*/__pycache__/
/sbi-logs/
/sbi4abm.egg-info/
/sbi4abm/__pycache__/
*.log
/log_calibration
/results_artificial/*/
/results_empirical/*/
